:root {
  --purple: #6202EE;
  --white: #FFFFFF;
  --grey: #757575;
  --light-grey: #E8E8E8;
}

/* global styles  */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.wrapper {
  width: 600px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 3.125rem;
}

.container {
  display: block;
}

.icon {
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 0.938rem 1.875rem;
}

.open {
  background-color: var(--light-grey);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border: none;
  border-bottom: solid 1px black;
}

.close {
  border-radius: 0.25rem;
  border: solid 1px black;
}

.input {
  padding: 1.25rem;
  font-size: 1.5rem;
  color: var(--grey);
}

.heading {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
}

.light {
  color: var(--white);
}

.grey {
  color: var(--grey);
}

/* global states  */
.input:focus {
  outline: solid 1px var(--purple);
}

.light.icon:hover {
  background-color: #8f45fd;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  position: relative;
  cursor: pointer;
  transition: .2s ease-in;
}

select::-ms-expand {
  display: none;
}

select::after {
  background-color: red;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 2;
}

/* single styles  */
.navbar {
  align-items: center;
  background-color: var(--purple);
  width: 100%;
  display: grid;
  grid-template-columns: auto 2fr auto auto;
  padding: 0.625rem;
}

/* form grid areas  */

.form {
  align-items: center;
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
  "user name name name name name"
  "phone number number number gender gender"
  "location address address address address address"
  ". city city city city city"
  ". state state state zip zip"
  "envelope email email email email email"
  "cake date date date date date"
  ;
}

.fa-user { grid-area: user }
.name { grid-area: name }
.fa-phone { grid-area: phone }
.number { grid-area: number }
.gender { grid-area: gender }
.fa-location-dot { grid-area: location }
.address { grid-area: address }
.city { grid-area: city }
.state { grid-area: state }
.zip { grid-area: zip }
.fa-envelope { grid-area: envelope }
.email { grid-area: email }
.fa-cake-candles { grid-area: cake }
.date { grid-area: date }