@media (max-width: 991px) {
  .portfolio-section .container {
    padding-inline: 3rem;
  }
  #about .modal-img,
  #about .modal-txt {
    flex: initial;
    margin-inline: auto;
  }
  .page-block {
    text-align: center;
  }
  #contact .modal-body {
    align-items: center;
  }
  #contact .contact-btn {
    margin-inline: auto;
  }
  .header-md {
    font-size: 1.8rem;
  }
}