.page-block {
  background-color: var(--bg);
}

#about h2 {
  font-size: 2rem;
}

#about .modal-body {
  display: flex;
  padding-top: 3rem;
  padding-inline: 2rem;
  flex-wrap: wrap;
}

#about .modal-body > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#about .modal-img img {
  margin: auto;
  width: 200px;
}

.about-txt {
  font-size: 1.2rem;
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  overflow: hidden;
  margin: 2rem auto;
}

.marquee-content {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.marquee-content li {
  width: var(--marquee-elms-width);
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  flex-shrink: 0;
  max-height: 100%;
  font-size: calc(var(--marquee-height) * 3 / 6);
}