.page-block {
  background-color: var(--bg);
}

#about h2 {
  font-size: 2rem;
}

#about .modal-body {
  display: flex;
  padding-top: 3rem;
  padding-inline: 2rem;
  flex-wrap: wrap;
}

#about .modal-body > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#about .modal-img img {
  margin: auto;
  width: 200px;
}

.about-txt {
  font-size: 1.2rem;
}