.page-block {
  background-color: var(--bg);
}

#about h2 {
  font-size: 2rem;
}

#about .modal-body {
  display: flex;
  padding-top: 3rem;
  padding-inline: 2rem;
  flex-wrap: wrap;
}

#about .modal-body > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#about .modal-img img {
  margin: auto;
  width: 200px;
}

.about-txt {
  font-size: 1.2rem;
}

.marquee {
  width: var(--marquee-width);
  display: flex;
  align-items: center;
  height: var(--marquee-height);
  overflow: hidden;
  margin: 2rem auto;
  position: relative;
}

.marquee::before,
.marquee::after {
  content:"";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 110px;
}

.marquee::before {
  left: 0;
  background: linear-gradient(to right, var(--bg) 0%, transparent 100%);
}

.marquee::after {
  right: 0;
  background: linear-gradient(to left, var(--bg) 0%, transparent 100%);
}

.marquee-content {
  list-style: none;
  padding-left: 0;
  display: flex;
  animation: marqueeScrolling var(--marquee-duration-animation) linear infinite;
}

.marquee-content li {
  width: var(--marquee-elms-width);
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  flex-shrink: 0;
  max-height: 100%;
  font-size: calc(var(--marquee-height) * 3 / 6);
}

#contact .modal-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-inline: 2rem;
}

.contact-form {
  max-width: 500px;
}

.contact-input {
  outline: none;
  border: none;
  border-bottom: 2px solid var(--border);
  color: var(--color-text);
  padding: 8px 4px;
  background-color: transparent;
  line-height: 20px;
  margin-top: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
}

.contact-text p {margin-block: 5px;}
.contact-form textarea {resize: none;}
.contact-input:focus {border-bottom-color: rgba(73, 95, 239, .9);}

.contact-btn {
  display: block;
  margin-top: 2rem;
}

@keyframes marqueeScrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * var(--marquee-elms-width) * var(--marquee-elms)))
  }
}