.theme-panel {
  border-bottom-left-radius: 25px;
  background-color: #495fef;
  color: var(--bg);
  position: fixed;
  padding: 8px 13px 15px;
  top: 25%;
  right: 0px;
  text-align: center;
  transition: 0.4s;
  transform: translateX(100%);
  z-index: 10;
}

.theme-panel.open {
  transform: translateX(0%);
}

.theme-panel > span {
  display: inline-flex;
  line-height: 26px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.09px;
  padding-bottom: 8px;
}

.theme-body {
  border-radius: 33px;
  background-color: #fff;
  box-shadow: 0 12px 34px rgba(2, 28, 45, 0.2);
  max-width: 153px;
  display: flex;
  overflow: hidden;
}

.theme-body button.active {
  background-color: #C8CEE2;
}

.theme-body button {
  border: none;
  width: 50%;
  padding: 15px;
  font-size: 11px;
  font-weight: 700;
  height: 45px;
  text-transform: uppercase;
}

.theme-tab {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #495fef;
  color: var(--bg);
  border: none;
  position: absolute;
  line-height: 32px;
  top: 0px;
  left: -22px;
  padding-block: 5px;
  padding-inline: 8px;
}

.theme-tab i {
  pointer-events: none;
  transition: 0.4s;
}

.theme-panel.open .theme-tab i {
  transform: rotate(180deg);
}

nav {
  display: flex;
  flex-wrap: row nowrap;
  width: 100%;
  padding: 0.5rem 1rem;
}

.brand-logo a h2 {
  font-size: 1.5rem;
  letter-spacing: -0.5px;
  line-height: 1.42;
}

.navbar .main-menu {
  display: flex;
  margin-left: auto;
}

.navbar .nav-link {
  padding: 18px;
  font-size: 15px;
  cursor: pointer;
  text-transform: lowercase;
  line-height: 26px;
}

.hero-content {
  text-align: center;
  padding-block: 5.5rem;
}

.code-icon {
  background-color: #da5252;
  border-radius: 50%;
  color: var(--color-text);
  display: inline-block;
  padding: 1rem;
  margin-bottom: 1.25rem;
}

.code-icon i {
  font-size: 2rem;
  display: inline-block;
  line-height: 1.2;
}










.full-site-modal {
  position: fixed;
  inset: 0;
  padding: 1rem;
  transition: all 0.35s ease-in;
  visibility: hidden;
  opacity: 0;
}

.modal-header {
  display: flex;
  place-content: center space-between;
  padding-bottom: 1rem;
}

.modal-body {
  display: flex;
  align-items: center;
}

.modal-body .img-wrapper {
  border-radius: 50%;
}

.modal-header .fa-times {
  font-size: 1.5rem;
  transition: all 0.5s ease-in;
}

[data-animation="zoomInOut"].full-site-modal {
  transform: scale(0.2);
}

[data-animation="zoomInOut"].full-site-modal.is-visible {
  transform: none;
}

.modal-header .fa-times:hover {
  transition: scale(1.1);
  cursor: pointer;
}

.full-site-modal.is-visible {
  visibility: visible;
  opacity: 1;
}