.theme-panel {
  border-bottom-left-radius: 25px;
  background-color: #495fef;
  color: var(--bg);
  position: fixed;
  padding: 8px 13px 15px;
  top: 25%;
  right: 0px;
  text-align: center;
  transition: 0.4s;
  transform: translateX(100%);
  z-index: 10;
}

.theme-panel.open {
  transform: translateX(0%);
}

.theme-panel > span {
  display: inline-flex;
  line-height: 26px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.09px;
  padding-bottom: 8px;
}

.theme-body {
  border-radius: 33px;
  background-color: #fff;
  box-shadow: 0 12px 34px rgba(2, 28, 45, 0.2);
  max-width: 153px;
  display: flex;
  overflow: hidden;
}

.theme-body button.active {
  background-color: #C8CEE2;
}

.theme-body button {
  border: none;
  width: 50%;
  padding: 15px;
  font-size: 11px;
  font-weight: 700;
  height: 45px;
  text-transform: uppercase;
}

.theme-tab {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #495fef;
  color: var(--bg);
  border: none;
  position: absolute;
  line-height: 32px;
  top: 0px;
  left: -22px;
  padding-block: 5px;
  padding-inline: 8px;
}

.theme-tab i {
  pointer-events: none;
  transition: 0.4s;
}

.theme-panel.open .theme-tab i {
  transform: rotate(180deg);
}

nav {
  display: flex;
  flex-wrap: row nowrap;
  width: 100%;
  padding: 0.5rem 1rem;
}

.brand-logo a h2 {
  font-size: 1.5rem;
  letter-spacing: -0.5px;
  line-height: 1.42;
}

.navbar .main-menu {
  display: flex;
  margin-left: auto;
}

.navbar .nav-link {
  padding: 18px;
  font-size: 15px;
  cursor: pointer;
  text-transform: lowercase;
  line-height: 26px;
}

.hero-content {
  text-align: center;
  padding-block: 5.5rem;
}

.code-icon {
  background-color: #da5252;
  border-radius: 50%;
  color: var(--color-text);
  display: inline-block;
  padding: 1rem;
  margin-bottom: 1.25rem;
}

.code-icon i {
  font-size: 2rem;
  display: inline-block;
  line-height: 1.2;
}

.search-box-container {
  display: inline-flex;
  background: #f1f3f5;
  position: relative;
}

.search-box-container i {
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  right: 20px;
}

.search-input {
  background-color: transparent;
  border: none;
  color: var(--color-text);
  outline: none;
  padding: 0.75rem 1.5rem;
}

.search-box-container:has(.search-input:focus) {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125), 0 0 8px rgba(34, 139, 230, 0.5);
}

.portfolio-filter-nav {
  display: flex;
  flex-wrap: wrap;
  padding-block: 2rem;
}

.portfolio-filter-nav .filter-link {
  letter-spacing: 1.63;
  font-weight: 700;
  font-size: 0.8125rem;
  margin-inline: 1rem;
}

.portfolio-filter-nav .filter-link:hover {
  cursor: pointer;
}

.portfolio-filter-nav .filter-link.active {
  color: #495fef;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  width: 100%;
  justify-content: center;
  padding: 3rem 1rem;
  margin-inline: auto;
}

.portfolio-card {
  position: relative;
  margin: 0 1rem 1.8rem;
  max-width: 255px;
}

.card-body img {
  aspect-ratio: 1 / 1;
  width: 100%;
  border-radius: 8px;
  height: 255px;
  object-fit: cover;
}

.card-popup-box {
  position: absolute;
  inset: auto 0 8px 0;
  margin-inline: 18px;
  padding: 1.25rem 1.875rem;
  transition: 0.4s;
  z-index: 1;
  opacity: 0;
}

.portfolio-card:hover .card-popup-box {
  opacity: 1;
  bottom: 20px;
  cursor: pointer;
}

.card-popup-box::before {
  position: absolute;
  content: "";
  background-color: var(--bg); 
  border-radius: 8px;
  inset: 0;
  opacity: 0.9;
  transition: 0.4s;
  z-index: -1;
}

.card-popup-box span {
  color: var(--color-text-opacity);
  font-weight: 700;
  font-size: 0.8125rem;
  letter-spacing: 1px;
  line-height: 1.63;
  text-transform: uppercase;
  pointer-events: none;
}

.card-popup-box h4 {
  color: var(--color-headings);
  font-size: 1.3rem;
  letter-spacing: -1px;
  margin-bottom: 0;
}


.full-site-modal {
  position: fixed;
  inset: 0;
  padding: 1rem;
  transition: all 0.35s ease-in;
  visibility: hidden;
  opacity: 0;
}

.modal-header {
  display: flex;
  place-content: center space-between;
  padding-bottom: 1rem;
}

.modal-body {
  display: flex;
  align-items: center;
}

.modal-body .img-wrapper {
  border-radius: 50%;
}

.modal-body .img-wrapper img {
  width: 100%;
}

.modal-header .fa-times {
  font-size: 1.5rem;
  transition: all 0.5s ease-in;
}

.modal-wrapper {
  background-color:rgba(0, 0, 0, 0.7);
  display: flex;
  color: var(--color-text-base) !important;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  inset: 0;
}

.modal-wrapper h3 {
  color: var(--color-text-base) !important;
}

.modal-dialogue {
  background-color: var(--bg-panel);
  border-radius: 5px;
  max-width: 800px;
  min-height: auto;
  padding: 1.25rem;
  overflow: hidden;
}

.modal-dialogue .modal-body {
  display: inline-grid;
  gap: 2rem;
  grid-template-columns: minmax(100px, 1fr) 2fr;
}

.modal-dialogue .modal-body img {
  border-radius: 8px;
  object-fit: cover;
  height: 200px;
}

[data-animation="zoomInOut"].full-site-modal {
  transform: scale(0.2);
}

[data-animation="zoomInOut"].full-site-modal.is-visible {
  transform: none;
}

[data-animation="slideInOutTop"] .modal-dialogue {
  transform: translateY(-80%);
  transition: 0.4s;
}

[data-animation="slideInOutTop"].is-visible .modal-dialogue {
  transform: translateY(0%);
}

.modal-header .fa-times:hover {
  transition: scale(1.1);
  cursor: pointer;
}

.full-site-modal.is-visible {
  visibility: visible;
  opacity: 1;
}