body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  text-decoration: underline;
}

/* global styles  */
.deck {
  display: flex;
  justify-content: space-evenly;
  width: 1500px;
  margin: auto;
}

.card {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0 5px grey ;
  margin: 30px 20px;
  padding: 20px 30px;
  position: relative;
}

.wrapper {
  display: flex;
}

.profile {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
}

.content {
  margin-left: 50px;
}

.heading {
  color: black;
  font-weight: 600;
  font-size: 1.4rem;
  width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.paragraph {
  color: rgb(146, 144, 144);
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  /* max-lines: 2; */
  max-height: 100px;
}

.icon {
  pointer-events: auto;
}

/* single styles  */
.card .wrapper:last-of-type {
  display: flex;
  justify-content: space-between;
  margin: 30px auto 0;
}