:root {
  --white: #E8EAED;
  --dark-grey: #202124;
  --light-blue: #8AB4F8;
  --blue: #4285F4;
  --light-grey: #9AA0A6;
  --grey: #8AA0A6;
  --dark-grey-one: #303134;
  --dark-grey-two: #3C4043;
  --background-color: #202124;
}

body {
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

hr {
  border: none;
  border-bottom: 1px solid var(--dark-grey-two);
  height: 0;
  width: 100%;
}

.blue { color: var(--blue); }