:root {
  --white: #E8EAED;
  --dark-grey: #202124;
  --light-blue: #8AB4F8;
  --blue: #4285F4;
  --light-grey-one: #9AA0A6;
  --light-grey-two: #bcc0c3;
  --grey: #8AA0A6;
  --dark-grey-one: #303134;
  --dark-grey-two: #3C4043;
  --background-color: #202124;
}

body {
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: var(--white);
}

*,
::after,
::before {
  box-sizing: border-box;
}

hr {
  border: none;
  border-bottom: 1px solid var(--dark-grey-one);
  height: 0;
  width: 100%;
}

a {
  color: var(--light-blue);
  text-decoration: none;
}

span { font-size: 14px; }
.blue { color: var(--blue); }

.search-heading {
  margin: 0 10px 0 0;
  font-size: 22px;
  font-weight: normal;
}