.navbar {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  width: 100%;
  padding: 30px 50px;
}

.nav .brand { margin-right: 30px; }

.nav .search-box {
  align-items: center;
  border-radius: 50px;
  background-color: var(--dark-grey-one);
  display: flex;
  padding: 15px 20px;
  margin-right: auto;
}

.nav .search-box:hover { box-shadow: 0 5px 3px rgba(0,0,0,0.2); }

.nav .search-box input {
  background-color: var(--dark-grey-one);
  border: none;
  caret-color: var(--white);
  color: var(--white);
  font-size: 1rem;
  outline: none;
  width: 500px;
}

.nav .search-icon {
  padding-right: 8px;
  padding-left: 8px;
  font-size: 1.2rem;
}

.right-nav {
  display: flex;
  align-items: center;
}

.right-nav .item {
  padding: 8px;
  border-radius: 50px;
  margin-right: 5px;
  margin-left: 5px;
}

.right-nav .item:hover { background-color: var(--dark-grey-two); }

.right-nav .icon {
  color: var(--white);
  font-size: 1.5rem;
}

.right-nav .profile { padding: 5px; }

.nav-tabs {
  margin-left: 220px;
  color: var(--light-grey-one);
  display: flex;
  align-items: center;
}

.nav-tabs .tab {
  margin-right: 20px;
  cursor: pointer;
  font-size: .9rem;
  font-weight: 300;
}

.tab .icon { margin-right: 4px; }
.nav-tabs .tab:last-of-type { margin-right: 100px; }
.nav-tabs button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--light-grey-one);
  font-family: 'Open Sans', sans-serif;
  padding: 5px 15px;
}

.nav-tabs button:hover {
  border: 1px solid var(--light-grey-one);
  background-color: var(--dark-grey-one);
  color: var(--white);
}

.body-wrapper {
  display: flex;
  margin-left: 220px;
  margin-right: 220px;
}

.body-wrapper div { flex: 1; }
.main-content-wrapper { max-width: 50%; }

.results-time {
  display: inline-block;
  color: var(--light-grey-one);
  margin-bottom: 20px;
  position: absolute;
}

.website-wrapper {
  margin-right: 150px;
  margin-top: 45px;
}

.site-link {
  display: block;
  color: var(--white);
}

.site-title {
  color: var(--light-blue);
  display: block;
  text-decoration: none;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.site-details p{
  margin: 0;
  display: inline;
  line-height: 1.58;
  font-size: 14px;
}

.site-docs a:hover { text-decoration: underline; }
.people-ask-wrapper { margin-right: 100px; }

.people-ask .top {
  display: flex;
  align-items: center;
  margin-top: 45px;
}

.people-ask .top h3 {
  line-height: 28px;
  font-size: 22px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
}

.people-ask .top .fa-solid { color: var(--light-grey-one); }

.people-ask .container {
  color: var(--light-grey-one);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-size: 1rem;
}

.people-ask .container h5 {
  font-size: 18px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: normal;
}

.people-ask .last-line a {
  color: var(--light-grey-one);
  font-size: 14px;
}
.people-ask .last-line { display:flex; }
.people-ask .last-line hr { margin-right: 5px; }
.people-ask .last-line a:hover { text-decoration: underline; }

.search-content-wrapper {
  border-left: solid 1px var(--dark-grey-two);
  padding-left: 20px;
  margin-top: 45px;
  max-width: 400px;
}

.search-top .header {
  display: flex;
  align-items: center;
}

.search-top .header .fa-solid { color: var(--light-grey-one); }

.search-top p {
  line-height: 1.58;
  color: var(--light-grey-one);
  font-size: 14px;
}

.genres span { color: rgba(555, 555, 555, 0.8); }

.genres a {
  color: var(--light-grey-one);
  display: inline;
  text-decoration: underline;
}

.genres .comma {
  position: relative;
  right: 3px;
}

.search-types h3 { margin: 16px 0; }

.search-type {
  color: var(--light-grey-one);
  font-size: 16px;
}

.search-type-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 15px 0;
}

.search-type-container:hover { background-color: var(--dark-grey-one); }

.search-type-container h5 {
  margin: 0 0 10px;
  font-weight: normal;
  font-size: 16px;
}

.search-type-container img {
  border-radius: 4px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}

.search-types hr { margin: 0; }