.navbar {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  width: 100%;
  padding: 30px 50px;
}

.nav .brand {
  margin-right: 30px;
}

.nav .search-box {
  align-items: center;
  border-radius: 50px;
  background-color: var(--dark-grey-one);
  display: flex;
  padding: 15px 20px;
  margin-right: auto;
}

.nav .search-box input {
  background-color: var(--dark-grey-one);
  border: none;
  caret-color: var(--white);
  color: var(--white);
  font-size: 1rem;
  outline: none;
  width: 500px;
}

.nav .search-icon {
  padding-right: 8px;
  padding-left: 8px;
  font-size: 1.2rem;
}

.right-nav {
  display: flex;
  align-items: center;
}

.right-nav .item {
  padding: 8px;
  border-radius: 50px;
  margin-right: 5px;
  margin-left: 5px;
}

.right-nav .item:hover {
  background-color: var(--dark-grey-two);
}

.right-nav .icon {
  color: var(--white);
  font-size: 1.5rem;
}

.right-nav .profile {
  padding: 5px;
}

.nav-tabs {
  margin-left: 220px;
  color: var(--light-grey-one);
  display: flex;
  align-items: center;
}

.nav-tabs .tab {
  margin-right: 20px;
  cursor: pointer;
  font-size: .9rem;
  font-weight: 300;
}

.tab .icon { margin-right: 4px; }
.nav-tabs .tab:last-of-type { margin-right: 100px; }
.nav-tabs button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--light-grey-one);
  font-family: 'Open Sans', sans-serif;
  padding: 5px 15px;
}

.nav-tabs button:hover {
  border: 1px solid var(--light-grey-one);
  background-color: var(--dark-grey-one);
  color: var(--white);
}

.body-wrapper {
  display: flex;
  margin-left: 220px;
  margin-right: 220px;
}

.body-wrapper div { flex: 1; }
.main-content { width: 40%; }

.results-time {
  display: inline-block;
  color: var(--light-grey-one);
  margin-bottom: 20px;
  position: absolute;
}

.website {
  padding-right: 100px;
  margin-top: 45px;
}

.site-link {
  display: block;
  color: var(--white);
}

.site-title {
  color: var(--light-blue);
  display: block;
  text-decoration: none;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.site-details p{
  margin: 0;
  line-height: 1.58;
  font-size: 14px;
}

.site-docs a:hover {
  text-decoration: underline;
}

.others-search .top {
  display: flex;
  align-items: center;
  margin-top: 45px;
}

.others-search h3 {
  line-height: 28px;
  font-size: 22px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
}

.others-search .fa-solid { color: var(--light-grey-one); }

.right {
  border-left: solid 1px var(--light-grey-two);
  padding-left: 100px;
}