.content {
  margin: 0;
}

.top-container {
  background-image: url("images/happy.jpg");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  width: 100%;
  height: 60vh;
}

.top-heading {
  background: linear-gradient(45deg, rgb(0, 183, 255), rgb(210, 221, 221));
  border-radius: 10px;
  display: inline-block;
  font-size: 5rem;
  font-family: 'Caveat', cursive;
  position: relative;
  top: 200px;
  padding: 20px 30px;
  margin: auto;
}

.blank-container {
  background: linear-gradient(45deg, rgb(0, 183, 255), rgb(210, 221, 221));
  height: 50vh;
}

.blank-container, .container {
  font-size: 5rem;
  font-family: 'Zen Antique', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container-text {
  text-shadow: 4px 4px #81C6E8;
}

.footer {
  background: linear-gradient(45deg, rgb(0, 183, 255), rgb(210, 221, 221));
  display: flex;
  font-family: 'Zen Antique', serif;
  font-style: italic;
  justify-content: space-evenly;
  padding: 30px 0 20px;
}

.footer-item {
  display: inline-block;
}

/* different parallax images */
.jesus {
  background-image: url("images/worship.jpg")
}

.coding {
  background-image: url("images/coding.jpg");
}

.family {
  background-image: url("images/family.jpg");
}