.background {
  background-image: url("images/mountains-in-the-night.png");
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  padding-bottom: 100px;
}

.top-heading {
  color: rgb(207, 204, 204);
  font-size: 3rem;
  margin: 200px auto 0;
  width: 40%;
}

.survey-form {
  background-color: rgba(81, 10, 173, .70);
  border-radius: 10px;
  margin: 0 auto;
  padding: 2% 3%;;
  width: 40%;
}
/* label fields */
.label {
  display: block;
  font-size: 1.5rem;
  color: rgb(207, 204, 204);
  margin: 10px 0 5px;
}

.label-input, .select-box {
  background-color: rgb(41, 41, 41);
  border: solid 1px rgb(216, 104, 147);
  border-radius: 5px;
  color: rgb(216, 104, 147);
  font-size: 1rem;
  height: 2rem;
  margin: 5px 0 10px;
  padding: 3px 5px;
  width: 100%;
}

.textarea {
  height: 100px;
  overflow: hidden;
  resize: none;
}

.radio-label {
  margin: 25px 0 0;
}

.radio-input-label, .checkbox-label {
  display: inline-flex;
  align-items: center;
  margin: 20px 5px 25px;
}

.submit-btn {
  background-color: rgb(41, 41, 41);
  border: solid 1px rgb(216, 104, 147);
  border-radius: 5px;
  color: rgb(216, 104, 147);
  margin: 30px 0 0;
  padding: 10px 20px;
}

.btn {
  text-align: right;
}

/* custom radio button === Magic stuff */
.radio-input {
  display: none;
}

.radio-circle {
  border: solid 2px #432C7A;
  border-radius: 50%;
  margin-right: 5px;
  padding: 1px;
  height: 1rem;
  width: 1rem;
}

.radio-circle::after {
  border-radius: 50%;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(216, 104, 147);
  transform: scale(0);
  transition: transform .1s;
}

.radio-input:checked + .radio-circle::after {
  transform: scale(1);
}

/* custom checkbox button === Magic Stuff */
.default-checkbox {
  display: none;
}

.new-checkbox {
  border: solid 2px #432C7A;
  margin-right: 5px;
  padding: 1px;
  width: 1rem;
  height: 1rem;
}

.new-checkbox::after {
  background-color: rgb(216, 104, 147);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: transform .1s;
}

.default-checkbox:checked + .new-checkbox::after {
  transform: scale(1)
}

/* fonts */
.top-heading, .label {
  font-family: 'Zilla Slab', serif;
}

.label-input, .select-box, .submit-btn {
  font-family: 'Roboto Slab', serif;
}