:root {
  --white: #fff;
  --black: black;
  --font-color-base: #666;
  --font-color-dark: #212529;
  --font-color-light: #b0aebe;
  --link: #57a6ff;
  --footer: #34314b;
  --footer-base: #2e2b45;
  --contrast: rgba(246, 248, 249, 0.8);
  --success: #64f590;
  --danger: #ff8b8D;
  --grad-1: #a1ecff;
  --grad-2: #7dbcff;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--font-color-base);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

img {
  width: 100%;
  vertical-align: middle;
  border-style: none;
}

section {
  padding: 6.25rem 0 3.125rem;
}


.container {
  width: 100%;
  padding-left: 0.938rem;
  padding-right: 0.938rem;
  margin-left: auto;
  margin-right: auto;
}

.small-container {
  margin: 6.25rem auto;
  color: var(--font-color-base);
  text-align: center;
}

.big-heading {
  font-size: 2.5rem;
  font-weight: bold;
}

.heading {
  font-weight: bold;
  font-size: 2rem;
}

.success { color: var(--success); }
.danger { color: var(--danger); }

.btn {
  border-radius: 2rem;
  padding: 0.938rem 1.563rem;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  user-select: none;
  transition: ease-in-out 0.3s;
}

.btn-white {
  background-color: var(--white);
  box-shadow: 0 0.125rem 0.313rem rgba(255, 252, 252, 0.8);
  color: var(--link);
}

.btn-primary {
  background: linear-gradient(to right, var(--grad-1), var(--grad-2));
  color: var(--white);
}

.bg-contrast {
  background-color: var(--contrast);
}

@media (min-width: 1200px) {
  .container { width: 1140px }
}

@media (min-width: 768px) {
  .small-container { width: 800px; }
}