/* ipads and tablets portrait  */
/* ipads and tablets portrait  */
@media screen and (max-width: 768px) {
  [aria-controls="navbarDropdown"] {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  [aria-expanded="false"] ~ #navbarDropdown {
    display: none;
  }

  [aria-expanded="true"] ~ #navbarDropdown {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, transparent, rgba(255,255,255, 0.8));
    box-shadow: 0px 0px 10px #666;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0px;
    text-align: right;
  }

  [aria-expanded="true"] ~ #navbarDropdown .link {
    color: var(--black);
    margin-right: 20px;
  }

  This is a test.
}