/* ipads and tablets portrait  */
@media screen and (max-width: 768px) {
  [aria-controls="navbarDropdown"] {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  [aria-expanded="false"] ~ #navbarDropdown {
    display: none;
  }

  [aria-expanded="true"] ~ #navbarDropdown {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, transparent, rgba(255,255,255, 0.8));
    box-shadow: 0px 0px 10px #666;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0px;
    text-align: right;
  }

  [aria-expanded="true"] ~ #navbarDropdown .link {
    color: var(--black);
    margin-right: 20px;
  }

  .pricing-table .header p {
    width: 80%;
    margin: 0 auto;
  }

  .footer-top .col.three { grid-column: 1 / 3; }
}

@media screen and (max-width: 692px) {
  .testimonial.one .quote {
    top: initial;
    bottom: 100px;
  }
}

@media screen and (max-width: 644px) {
  .pricing-table {
    display: flex;
    flex-direction: column;
  }

  .pricing-card {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 480px) {
  header { text-align: center; }
  
  .why-me-wrapper {
    flex-direction: column;
    text-align: center;
  }
  
  .why-me-wrapper .block-text {
    padding-right: 0;
  }

  .testimonials-grid {
    grid-template-areas:
    "one one one one"
    "two two three three"
    ;
  }

  .testimonial.one .quote {
    top: 20px;
    bottom: initial;
  }

  .footer-top {
    display: flex;
    flex-direction: column;
  }

  .footer-top .col.one { order: 3; }
  .footer-top .col {
    margin-right: auto;
    margin-left: auto;
  }

  .footer-bottom-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .footer-bottom .copyright { margin-right: initial }
}