/* nav section  */
[aria-controls="navbarDropdown"] {
  display: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: ease-in .3s;
  z-index: 10;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
  color: var(--white);
  font-weight: 700;
}

.link {
  color: var(--white);
  font-weight: 700;
  margin-right: 2.5rem;
  text-transform: uppercase;
  font-family: 'Hind', sans-serif;
  line-height: 1.25rem;
}

/* hero section  */
.header,
.our-story {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;
  color: var(--white);
  position: relative;
  z-index: 1;
  padding: 8rem 0;
}

.header { background-image: url("/assets/bg-header-1.jpg"); }
.our-story { background-image: url("/assets/bg-demo.jpg"); }

.header::before {
  background: linear-gradient(
    30deg,
    rgba(21, 27, 38, 0.8) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero .heading {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 2.5rem;
}

/* why me section  */
.why-me-wrapper {
  align-items: center;
  display: flex;

}

.why-me-wrapper div {
  flex: 1;
}

.block-text {
  margin-right: 3.125rem;
}

.block-text span {
  color: var(--font-color-dark);
  font-weight: 300;
}

.block-text h2 {
  color: var(--font-color-dark);
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 auto 0.625rem;
  line-height: 1.3;
}

.block-text p {
  margin-bottom: 1.875rem;
}

/* Services  */
.services-grid {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto auto;
}

.service-card {
  background-color: var(--white);
  border-radius: 0.25rem;
  box-shadow: 0 0 0.625rem rgb(185, 181, 181);
  padding: 1.875rem;
}

.service-card span {
  border-radius: 2rem;
  display: block;
  float: left;
  height: 3.125rem;
  width: 3.125rem;
  margin-right: 0.938rem;
}

.service-card h3 {
  margin-top: 0;
}
/* card img colors   */
.img-1 { background: linear-gradient(45deg, #A555EC 0%, #00E7FF 100%); }
.img-2 { background: linear-gradient(45deg, #ADE792 0%, #C060A1 100%); }
.img-3 { background: linear-gradient(45deg, #FFE15D 0%, #393E46 100%); }
.img-4 { background: linear-gradient(45deg, #54B435 0%, #E6CBA8 100%); }
.img-5 { background: linear-gradient(45deg, #9CFF2E 0%, #A7FFE4 100%); }
.img-6 { background: linear-gradient(45deg, #ADDDD0 0%, #E80F88 100%); }

/* our story section  */
.our-story {
  text-align: center;
  position: relative;
}

.our-story-video a {
  position: relative;
}

.story-video-bg {
  border-radius: 0.5rem;
  width: 37.5rem;
  margin-bottom: -15.625rem;
}

.play-btn {
  box-shadow: 0 0.313rem 0.625rem #a555ec4b;
  border-radius: 0.5rem;
  width: 6.25rem;
  height: 6.25rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
}