.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: ease-in .3s;
  z-index: 10;
}

[aria-controls="navbarDropdown"] {
  display: none;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
  color: var(--white);
  font-weight: 700;
}

.link {
  color: var(--white);
  font-weight: 700;
  margin-left: 10px;
  margin-right: 10px;
}

.header {
  background-image: url("/assets/bg-header-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;
  color: var(--white);
  position: relative;
  z-index: 1;
  padding: 4.688rem 0;
}

.header::before {
  background: linear-gradient(
    30deg,
    rgba(21, 27, 38, 0.8) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero .wrapper {
  margin-top: 100px;
}

.hero .heading {
  margin-bottom: 30px;
}

.hero .button {
  background-color: var(--white);
  border-radius: 50px;
  padding: 15px 25px;
}