[aria-controls="navbarDropdown"] {
  display: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: ease-in .3s;
  z-index: 5;
}

.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-toggle-btn {
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #9ccdfe 0%, #94aafd 100%);
  border: solid 1px grey;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px 10px 7px;
}

.nav .logo {
  color: var(--white);
  font-size: 2rem;
}

.nav .link {
  color: var(--white);
  font-weight: 700;
  margin-right: 2.5rem;
  text-transform: uppercase;
  font-family: 'Hind', sans-serif;
  line-height: 1.25rem;
}

header,
.our-story {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;
  color: var(--white);
  position: relative;
  z-index: 1;
}

header {
  background-image: url("/assets/bg-header-1.jpg");
  padding: 9.375rem 0;
}
.our-story {
 background-image: url("/assets/bg-demo.jpg");
 padding: 8rem 0;
}

header::before {
  background: linear-gradient(
    30deg,
    rgba(21, 27, 38, 0.8) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero .heading {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 2.5rem;
}

.why-me-wrapper {
  align-items: center;
  display: flex;
  color: var(--black);
}

.why-me-wrapper div { flex: 1; }
.why-me-wrapper .block-text { padding-right: 6.25rem; }
.why-me-wrapper .block-text span { font-weight: 300; }

.why-me-wrapper .block-text h2 {
  margin: 0 auto 0.625rem;
  line-height: 1.3;
}

.why-me-wrapper .block-text p {
  margin-bottom: 1.875rem;
  color: var(--font-color-base);
}

.services-grid {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto auto;
}

.service-card {
  background-color: var(--white);
  border-radius: 0.25rem;
  box-shadow: 0 0 0.625rem rgb(185, 181, 181);
  padding: 1.875rem;
}

.service-card span {
  border-radius: 2rem;
  display: block;
  float: left;
  height: 3.125rem;
  width: 3.125rem;
  margin-right: 0.938rem;
}

.service-card .img-1 { background: linear-gradient(45deg, #A555EC 0%, #00E7FF 100%); }
.service-card .img-2 { background: linear-gradient(45deg, #ADE792 0%, #C060A1 100%); }
.service-card .img-3 { background: linear-gradient(45deg, #FFE15D 0%, #393E46 100%); }
.service-card .img-4 { background: linear-gradient(45deg, #54B435 0%, #E6CBA8 100%); }
.service-card .img-5 { background: linear-gradient(45deg, #9CFF2E 0%, #A7FFE4 100%); }
.service-card .img-6 { background: linear-gradient(45deg, #ADDDD0 0%, #E80F88 100%); }

.service-card h3 {
  margin-top: 0;
}


.our-story {
  text-align: center;
  position: relative;
}

.our-story .header { margin-bottom: 6.25rem; }
.our-story .header .heading { font-size: 2.5rem; }
.story-video a { position: relative; }

.our-story .story-video-bg {
  border-radius: 0.5rem;
  width: 37.5rem;
  margin-bottom: -15.625rem;
}

.story-video .play-btn {
  box-shadow: 0 0.313rem 0.625rem #a555ec4b;
  border-radius: 0.5rem;
  width: 6.25rem;
  height: 6.25rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 6.25rem;
}

.pricing-table {
  display: grid;
  gap: 0.625rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-areas: 
  "header header header"
  "first middle last"
  ;
  margin: 0 auto;
}
.pricing-table .header{ grid-area: header; }
.pricing-table .first{ grid-area: first; }
.pricing-table .middle{ grid-area: middle; }
.pricing-table .last{ grid-area: last; }

.pricing-table .header { margin: 7.5rem auto 4.688rem; }

.pricing-card {
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 2.5rem 0.625rem;
  position: relative;
  user-select: none;
}

.pricing-card .heading {
  color: var(--black);
  font-size: 1.5rem;
}

.pricing-card .price {
  font-size: 2rem;
  color: var(--link);
  font-weight: bold;
  margin: 0 auto;
}

.pricing-card .time {
  margin: 0 auto 3.125rem;
}

.pricing-card hr {
  border: none;
  border-bottom: solid 0.125rem var(--font-color-base);
}

.pricing-card .perk:first-of-type { margin-top: 0.625rem; }

.pricing-card .perk {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.pricing-card .perk .fa-solid { font-size: 1.5rem; }
.pricing-card .perk .fa-xmark { margin-right: 0.313rem; }

.pricing-card.middle {
  box-shadow: 0 0.625rem 0.625rem rgba(0, 0, 0, 0.2);
  padding: 0 1.25rem 2.5rem;
  z-index: 2;
}

.pricing-card.middle .btn { width: 100%; }
.pricing-card.middle .btn a { color: var(--white); }
.pricing-card.middle .package-perk { margin-bottom: 0.938rem; }
.pricing-card.middle .fa-check { color: var(--success); }
.pricing-card.middle .fa-xmark { color: var(--danger); }

.testimonials { color: var(--black); }

.testimonials-grid {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  "one one two two"
  "one one three three"
  ;
  margin: 3.125rem auto;
  text-align: left;
}
.testimonials-grid .one { grid-area: one; }
.testimonials-grid .two { grid-area: two; }
.testimonials-grid .three { grid-area: three; }

.testimonial {
  box-shadow: 0 0 0.313rem rgba(97, 97, 97, 0.5);
  border-radius: 0.5rem;
  padding: 1.875rem;
  position: relative;
}

.testimonial.one .profile {
  width: 4.375rem;
  height: 4.375rem;
  margin-right: 1.875rem;
}

.testimonial.one p {
  font-size: 1rem;
  line-height: 1.6;
}

.testimonial.one .quote {
  width: 4.375rem;
  height: 4.375rem;
  position: absolute;
  right: 1.875rem;
  top: 22.875rem;
}

.testimonial .header {
  display: flex;
  align-items: center;
}

.testimonial .profile {
  border-radius: 50%;
  margin-right: 0.938rem;
  width: 3.125rem;
  height: 3.125rem;
}

.testimonial .name {
  margin: 0 auto 0.625rem;
  font-weight: 600;
  font-size: 1.125rem;
}

.testimonial p {
  line-height: 1.6;
  font-size: 0.875rem;
  color: var(--font-color-base);
}

.testimonials .big-heading { margin-bottom: 9.375rem; }

footer {
  background-color: var(--footer);
  padding-top: 6.25rem;
}
.footer-top {
  display: grid;
  gap: 3.125rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 6.25rem;
}

.footer-top .col {
  justify-self: center;
}

.footer-top .col h5 {
  color: var(--white);
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.footer-top .col p { margin: 0 auto; }
.footer-top .col.one .contact { margin-bottom: 1.25rem; }
.footer-top .col.one .contact p:first-of-type { margin-top: -0.313rem; }
.footer-top .col.one .contact p { color: var(--white); }

.footer-top .col.one .socials {
  display: flex;
  color: var(--white);
}

.footer-top .col.one .socials a {
  color: var(--white);
  font-size: 1rem;
}

.col.one .contact .icon {
  margin-right: 0.625rem;
  width: 0.938rem;
}

.col.one .socials .icon {
  margin-right: 1.875rem;
}

.footer-top .col.two h5 { font-weight: bold; }
.footer-top .col.two .first-heading{ margin-top: -0.313rem; }
.footer-top .col.two p { color: var(--font-color-light); }

.col.three .recent-post {
  display: flex;
  margin-bottom: 1.25rem;
}

.col.three .video-wrapper {
  width: 10rem;
  margin-right: 0.625rem;
}

.col.three .post-inner { margin-top: -0.313rem; }

.col.three .post-inner p {
  margin: 0 auto;
  font-weight: bold;
  font-size: .8rem;
}

.post-inner a { color: var(--white); }
.post-inner span {
  color: var(--font-color-light);
  font-size: .8rem;
}

.footer-bottom {
  background-color: var(--footer-base);
  padding: 0.625rem 0;
  width: 100%;
}

.footer-bottom-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer-bottom .copyright {
  margin-right: 6.25rem;
}

.footer-bottom-links a {
  color: var(--white);
  margin: 0 0.625rem;
}

.small-container.footer-bottom { margin: 0 auto; }

#scrollBtn {
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #9ccdfe 0%, #94aafd 100%);
  color: var(--white);
  cursor: pointer;
  display: block;
  position: fixed;
  right: 1.563rem;
  bottom: 1.563rem;
  padding: 0.625rem 1.25rem;
  font-size: 2rem;
  z-index: 5;
}