[aria-controls="navbarDropdown"] {
  display: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: ease-in .3s;
  z-index: 10;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
  color: var(--white);
  font-weight: 700;
}

.link {
  color: var(--white);
  font-weight: 700;
  margin-right: 2.5rem;
  text-transform: uppercase;
  font-family: 'Hind', sans-serif;
  line-height: 1.25rem;
}

.header {
  background-image: url("/assets/bg-header-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;
  color: var(--white);
  position: relative;
  z-index: 1;
  padding: 8rem 0;
}

.header::before {
  background: linear-gradient(
    30deg,
    rgba(21, 27, 38, 0.8) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero .heading {
  margin-bottom: 2.5rem;
}

.why-me-wrapper {
  align-items: center;
  display: flex;

}

.why-me-wrapper div {
  flex: 1;
}

.block-text {
  margin-right: 3.125rem;
}

.block-text span {
  color: var(--font-color-dark);
  font-weight: 300;
}

.block-text h2 {
  color: var(--font-color-dark);
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 auto 0.625rem;
  line-height: 1.3;
}

.block-text p {
  margin-bottom: 1.875rem;
}