/* all styles */
body {
  font-family: 'Crete Round', serif;
  margin: 0;
  background-color: #5DA7DB;
}

hr {
  border: solid 3px #5837D0;
  border-radius: 5px;
  width: 95%;
}

/* sidebar styles */
.side-bar {
  background-color: #5837D0;
  width: 300px;
  height: 100vh;
  position: fixed;
}

.logo {
  color: #F0EABE;
  font-size: 1.5rem;
  font-family: 'Marhey', cursive;
  text-align: center;
  padding: 20px 20px;
}

.side-bar ul {
  padding-left: 0;
  list-style: none;
}

.side-bar li {
  border-bottom: solid 2px #5DA7DB;
  padding: 20px 30px;
  font-size: 1.3rem;
}

.side-bar li:last-child {
  border-bottom: none;
}

.side-bar a {
  color: #7DE5ED;
  text-decoration: none;
}
/* main content styles  */
.top-heading {
  user-select: none;
}

.iframe {
  border: solid 5px #F0EABE;
  height: 240px;
  width: 400px;
  border-radius: 5px;
  margin: 100px 20px 10px;
}

.main-content {
  margin-left: 350px;
  padding: 50px 0 100px;
}

.main-content a {
  color: #F0EABE;
  text-decoration: none;
  margin: 0 auto;
}

.bottom-hr {
  margin-top: 100px;
}

.video-row {
  width: 90%;
  margin: 0 auto;
}

.video-wrapper {
  display: inline-block;
  width: 450px;
  margin: 0 auto;
  text-align: center;
}

.video-wrapper a{
  height: 1.2rem;
}

.video-title {
  font-size: 1.2rem;
  font-weight: 600;
  width: 300px;
  margin: auto;
  /* this gets the text and if it is longer than the width it doesn't display it.  */
  overflow: hidden;
  /* this is suppose to stop the text from over flowing */
  white-space: nowrap;
  /* this is supposed to get the overflowing text and put in into 3 dots...  */
  text-overflow: ellipsis;
}

.footer {
  bottom: 50px;
  margin: 50px 0 0 350px;
}

.footer-item {
  margin: 0;
}

/* single page styles */
.lg-video {
  border: solid 5px #F0EABE;
  border-radius: 5px;
  display: block;
  width: 1000px;
  height: 500px;
  margin: 50px 0 30px;
  /* margin: 50px auto 30px; */
}

.video-details {
  border: solid 2px #F0EABE;
  border-radius: 5px;
  display: inline-block;
  width: 985px;
  padding: 20px 10px;
}

/* hover state styles for good ui  */
.side-bar li:hover {
  background-color: #5DA7DB;
}

.main-content a:hover {
  color: #5837D0;
}

.iframe:hover {
  border: solid 5px #5837D0;
}

 /* Media Queries  */
/* Home Page  */
@media (max-width: 1400px) {
  .video-wrapper {
    display: block;
    width: 600px;
    margin: 0 auto;
    text-align: center;
  }

  .iframe {
    width: 500px;
  }
}

/* New video page styles  */
/* input {
  background-color: #F0EABE;
} */