body {
  background-color: rgb(48, 47, 47);
  margin: 0;
  padding: 0;
}

h1,
h3 {
  margin: 0 auto;
}

hr {
  width: 60%;
}

/* headings  */
.top-heading,
.big-heading {
  color: rgb(238, 227, 227);
  font-size: 4rem;
  text-align: center;
  padding: 80px 0 0;
}

/* navbar styles */
.navbar {
  background-color: rgb(16, 16, 80);
  padding: 10px 400px;
  position: relative;
  text-align: right;
}

.nav-link {
  color: rgb(31, 218, 218);
  font-size: 1.4rem;
  text-decoration: none;
  padding: 0 25px;
}

/* main content  */
.projects {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 300px);
  margin: 100px auto;
  width: 50%;
}

.project {
  background-color: rgb(62, 226, 185);
  border: solid 2px rgb(36, 35, 35);
  font-size: 2rem;
  text-align: center;
}

.project:nth-child(even) {
  background-color: rgb(36, 35, 35);
  border: solid 2px rgb(62, 226, 185);
}

/* contact section  */
.contact-section {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 200px);
  grid-template-areas: 
    "form form . red blue"
    "form form . green yellow"
  ;
  width: 50%;
  margin: 100px auto;
}

/* grid items */
.form {
  grid-area: form;
}

.picture {
  color: #D58BDD;
  font-size: 2rem;
  position: relative;
}

.picture-text {
  display: flex;
  justify-content: center;
  position: relative;
  top: 40%;
}

.red {
  background-color: #DC3535;
  grid-area: red;
}

.blue {
  background-color: #0D4C92;
  grid-area: blue;
}

.green {
  background-color: #557153;
  grid-area: green;
}

.yellow {
  background-color: #FCE700;
  grid-area: yellow;
}

.form-label {
  color: white;
  display: block;
  font-size: 2rem;
  margin: 0 0 20px;
}

.comments,
.form-input {
  border: solid 3px rgb(62, 226, 185);
  border-radius: 4px;
  color: white;
  display: block;
  height: 30px;
  width: 450px;
}

.comments {
  height: 200px;
  resize: none;
}

/* footer section  */
.footer {
  background-color:rgb(62, 226, 185);
  font-size: 1.5rem;
  height: 90px;
  text-align: center;
  width: 100%;
}

.footer p {
  padding: 20px 0;
}
