:root {
  --white: #FFFFFF;
  --dark-white: #E5E8F1;
  --dark: #000000;
  --primary: #2476FE;
  --dark-primary: #20335B;
  --font-base-one: #667686;
  --font-base-two: #606368;
  --success: #01C8A7;
}