:root {
  --light: #FFFFFF;
  --light-grey: #E5E8F1;
  --dark: #000000;
  --primary: #2476FE;
  --dark-primary: #20335B;
  --font-base-one: #667686;
  --font-base-two: #606368;
  --success: #01C8A7;
  --color-gradient-one: #EFEFEF;
  --color-gradient-two: #E0E7EF;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  color: var(--font-base-one);
  margin: 0;
  font-family: sans-serif;
}

img {
  width: 100%;
}

a {
  color: var(--primary);
  text-decoration: none;
  font-weight: 700;
  font-family: sans-serif;
}

.container {
  margin: 100px;
}

.btn {
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  padding: 20px 25px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary );
  color: var(--light);
}

.btn-light {
  background-color: var(--light);
  color: var(--primary)
}


.tag {
  border: none;
  border-radius: 2rem;
  color: var(--light);
  font-size: 14px;
  font-weight: bold;
  padding: 5px 12px;
}

.tag-primary { background-color: var(--primary); }
.tag-success { background-color: var(--success); }

.header {
  text-align: center;
}

.header h5 {
  color: var(--dark);
  font-weight: 700;
  font-size: 33px;
  margin-bottom: 10px;
}

.header p {
  font-weight: normal;
  font-size: 22px;
}

/* Colors */
.primary { color: var(--primary) !important; }
.grey { color: var(--font-base-two); }