

@media (max-width: 1100px) {
  .hamburger {
    display: block;
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .navbar-links ul {
    justify-content: center;
    position: absolute;
    transition: 0.3s;
    left: -200%;
    width: 100%;
  }
  
  .navbar-links ul.active {
    background-color: white;
    top: 34px;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 5px;
  }
  
  .navbar-links ul li {
    background-color: var(--light);
    margin-block: 5px;
  }
  
  .navbar-links button { margin-left: 0; }
  .hero-gradient { height: 110vh; }

  .benefits-wrapper {
    grid-template-areas: 
    "head head"
    "one two"
    "three four"
    ;
  }

  .hero-gradient {
    background: url("/assets/banners/ipad-hero-gradient.jpg");
    background-size: cover;
  }

  .hero-logos .logo { position: relative; }
  .hero-logos { position: relative; }
  .logo.asana { left: 100px; }
  .logo.atlassian {
    top: 50px;
    left: 200px;
  }
  .logo.calendar { left: 300px; }
  .logo.google-a {
    top: 200px;
    left: 50px;
}
  .logo.google {
    left: 300px;
    top: 0px;
  }
  .logo.paypal {
    left: 80px;
    top: -100px;
  }
  .logo.weave {
    left: 300px;
    top: -500px;
  }

  .prospective-wrapper .block-text-left { top: 0px; }
  .footer-col { margin-right: 20px; }

  .hubspot-wrapper .block-text-right {
    position: relative;
    top: -50px;
  }

  .hubspot-gallery .person-img-wrapper {
    width: 100%;
    left: 30px;
    top: -53px;
  }

  .hire-us-checkbox-labels { margin-bottom: 0px; }

  .form-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hire-us-form-link { margin-block: 7px; }
}

@media screen and (min-width: 1500px) {
  .navbar {
    padding-top: 40px;
    padding-inline: 12%;
  }
  .hero-wrapper {
    padding-inline: 12%;
  }
  .hero-gradient {
    background: url("/assets/banners/hero-gradient.jpg");
    background-size: cover;
  }
  .prospective-wrapper {
    padding: 0;
    margin-inline: 12%;
  }
  .prospective-wrapper.container {
    padding: 100px 0 0 50px;
  }
  .hire-us-wrapper {
    padding-inline: 15% 7%;
  }
  .container {
    padding-inline: 15%;
  }
}

@media (max-width: 500px) {
  .hero-gradient {
    background: url("/assets/banners/hero-gradient-mobile.jpg");
  }

  .navbar-links ul {
    flex-direction: column;
  }
}