

@media (max-width: 1100px) {
  .hamburger {
    display: block;
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .navbar-links ul {
    justify-content: center;
    position: absolute;
    transition: 0.3s;
    left: -200%;
    width: 100%;
  }
  
  .navbar-links ul.active {
    background-color: white;
    top: 34px;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 5px;
  }
  
  .navbar-links ul li {
    background-color: var(--light);
    margin-block: 5px;
  }
  
  .navbar-links button { margin-left: 0; }
  .hero-gradient { height: 110vh; }

  .benefits-wrapper {
    grid-template-areas: 
    "head head"
    "one two"
    "three four"
    ;
  }

  .hero-gradient {
    background: url("/assets/banners/ipad-hero-gradient.jpg");
    background-size: cover;
  }

  .hero-logos .logo { position: relative; }
  .hero-logos { position: relative; }
  .logo.asana { left: 100px; }
  .logo.atlassian {
    top: 50px;
    left: 200px;
  }
  .logo.calendar { left: 300px; }
  .logo.google-a {
    top: 200px;
    left: 50px;
}
  .logo.google {
    left: 300px;
    top: 0px;
  }
  .logo.paypal {
    left: 80px;
    top: -100px;
  }
  .logo.weave {
    left: 300px;
    top: -500px;
  }

  .prospective-wrapper .block-text-left { top: 0px; }
  .footer-col { margin-right: 20px; }

  .hubspot-wrapper .block-text-right {
    position: relative;
    top: -50px;
  }

  .hubspot-gallery .person-img-wrapper {
    width: 100%;
    left: 30px;
    top: -53px;
  }

  .hire-us-checkbox-labels { margin-bottom: 0px; }

  .form-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hire-us-form-link { margin-block: 7px; }
}

@media (min-width: 1500px) {
  .navbar {
    padding-top: 40px;
    padding-inline: 12%;
  }
  .hero-wrapper {
    padding-inline: 12%;
  }
  .hero-gradient {
    background: url("/assets/banners/hero-gradient.jpg");
    background-size: cover;
  }
  .prospective-wrapper {
    padding: 0;
    margin-inline: 12%;
  }
  .prospective-wrapper.container {
    padding: 100px 0 0 50px;
  }

  .pricing-card .bottom p {
    margin-bottom: 60px;
  }

  .hire-us-wrapper {
    padding-inline: 15% 7%;
  }
  .container {
    padding-inline: 15%;
  }
}

@media (max-width: 500px) {
  .block-text-right .hubspot-logo-wrapper {
    margin-inline: auto;
  }
  
  .block-text-right {
    text-align: center;
  }
  
  .container {
    padding: 50px 20px;
    margin-inline: 20px;
    margin-block: 50px;
  }

  .hero-gradient {
    background: url("/assets/banners/hero-gradient-mobile.jpg");
    background-repeat: no-repeat;
  }

  .hero-wrapper {
    flex-direction: column;
  }

  .hero-text .btn-primary {
  margin-bottom: 7px;
  }

  .logo.asana {
    left: -120px;
  }

  .logo.atlassian {
    left: 00px;
    top: -10px;
  }

  .logo.paypal {
    top: -230px;
    left: -70px;
  }

  .logo.google-a {
    top: -210px;
    left: 150px;
  }

  .logo.google {
    top: -100px;
    left: 140px;
  }

  .logo.calendar {
    left: 80px;
    top: -300px;
  }

  .navbar-links ul {
    flex-direction: column;
  }

  .benefits-wrapper {
    grid-template-areas: 
    "head"
    "one"
    "two"
    "three"
    "four"
    ;
    margin-bottom: 100px;
  }

  .prospective-wrapper.container {
    margin-top: 0;
  }
  
  .prospective-wrapper {
    flex-direction: column;
    margin-inline: 20px;
  }

  .prospective-wrapper .block-text-left {
    inline-size: auto;
    margin-right: 0;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .prospective-img {
    width: 110%;
    margin-inline: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .why-wrapper {
    margin-top: 100px;
  }

  .why-wrapper .center-header {
    margin-inline: auto;
    inline-size: 300px;
  }

  .timeline-wrapper {
    flex-direction: column;
    margin-left: 0;
  }

  .timeline-element {
    display: flex;
    align-items: center;
  }

  .timeline-heading {
    top: 1px;
    left: 0;
    transform: translateX(0);
    position: relative;
    margin: 0;
    margin-left: 10px;
  }

  .timeline-spacer {
    margin-block: 4px;
    height: 20px;
    width: 2px;
    position: relative;
    left: 18px;
  }

  #banner.container {
    margin-inline: 3px;
    padding: 5px 0;
  }

  .hubspot-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .hubspot-wrapper.container {
    padding-inline: 0;
  }

  .hubspot-gallery .person-img-wrapper {
    top: -35px;
  }

  .block-text-right {
    top: 0;
    margin-left: 0;
  }

  .companies-trusted-wrapper.container {
    margin-top: 650px;
  }
  .companies-trusted {
    flex-direction: column;
    align-items: center;
    margin-block: 20px;
  }

  .trusted-img-wrapper {
    width: 40%;
    border-bottom: 1px solid var(--light-grey);
    margin-bottom: 3px;
  }

  .trusted-img-wrapper:last-of-type {
    border-bottom: none;
  }

  .pricing-grid {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-areas: 
    "header"
    "main"
    "main"
    "one"
    "two"
    "three"
    "four"
    ;
  }

  .pricing-grid .center-header {
    padding-bottom: 0;
  }

  .hire-us-wrapper {
    flex-direction: column;
    padding-inline: 10px;
  }

  .hire-us-wrapper > * {
    width: 100%;
  }

  .hire-us-wrapper .block-text-left {
    padding-right: 0;
    width: 85%;
  }

  .form-links {
    align-items: flex-start;
  }

  .form-links .hire-us-form-link {
    margin-right: 0;
  }

  .footer-top-container {
    flex-direction: column;
  }
  
  .footer-col {
    margin-right: 0;
    margin-block: 5px;
  }

  .footer-named-tag {
    justify-content: flex-start;
    position: relative;
    margin-block: -4px;
  }

  .footer-named-tag p {
    margin-block: 10px;
  }

  .footer-named-tag .tag {
    position: absolute;
    left: 50px;
  }

}
