.navbar {
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 15px 50px;
  z-index: 10;
}

.navbar-links {
  display: flex;
}

.navbar-links ul {
  align-items: center;
  display: flex;
}

.navbar-logo {
  width: 200px;
}

.navbar-links .link {
  color: var(--font-base-one);
  font-weight: 500;
  font-size: 18px;
  margin: 0 20px;
}

.navbar-links button {
  margin-left: 20px;
}

.hero-gradient {
  /* background: pink; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.hero-wrapper {
  align-items: center;
  display: flex;
  height: 90vh;
  padding: 140px 50px 45px;
}

.hero-wrapper div { flex: 1; }

.hero-text h1 {
  color: var(--dark);
  font-size: 3rem;
  line-height: 1.4;
  margin: 0;
  font-weight: 600;
}

.hero-text .ingredient-text {
  color: var(--font-base-one);
  display: block;
  font-size: 18px;
  margin: 10px 0 30px;
}
.hero-text .btn-light { font-weight: bold; }

.hero-logos {
  position: relative;
  height: 100%;
  margin-top: 10%;
}

.hero-logos .logo {
  background-color: var(--light);
  box-sizing: content-box;
  border-radius: 5rem;
  box-shadow: 0px 0px 20px rgba(105, 105, 105, 0.6);
  position: absolute;
}

.hero-logos .big {
  width: 50px;
  height: 50px;
  padding: 25px;
}

.hero-logos .small {
  width: 45px;
  height: 45px;
  padding: 15px;
}

.logo.google {
  right: 470px;
  top: 0px;
}

.logo.paypal {
  top: 195px;
  right: 475px;
}

.logo.weave {
  top: 195px;
  right: 160px;
}

.logo.asana {
  top: 0px;
  right: 0px;
}

.logo.atlassian {
  top: 0px;
  right: 280px;
}

.logo.calender {
  top: 340px;
  right: 20px;
}

.logo.google-a {
  top: 320px;
  right: 315px;
}

.benefits-wrapper {
  display: grid;
  gap: 45px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-areas:
    "head head head head"
    "one two three four";
  margin: 0px auto 200px;
}

.benefits-wrapper .header { grid-area: head; }
.benefits-wrapper .one { grid-area: one; }
.benefits-wrapper .two { grid-area: two; }
.benefits-wrapper .three { grid-area: three; }
.benefits-wrapper .four { grid-area: four; }

.benefits .header { margin-bottom: 50px; }

.card {
  box-shadow: 0px 10px 10px rgba(105, 105, 105, 0.3);
  padding: 30px;
}

.card .details {
  line-height: 1.7;
}

.card-heading-wrapper {
  display: flex;
  align-items: center;
}

.card-heading-wrapper h5 {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--dark);
  margin-right: 10px;
  margin-bottom: 10px;
}

.benefits .card-img-wrapper { width: 30%; }

.prospective-wrapper {
  display: flex;
  justify-content: center;
  margin-inline: 50px;
}

.prospective-wrapper .block-text-left {
  inline-size: 500px;
}

.prospective-wrapper h3 {
  font-size: 2rem;
  color: var(--dark);
}

.timeline-wrapper {
  display: flex;
  width: 60%;
  margin: auto;
}

.timeline-element {
  position: relative;
  text-align: center;
}

.timeline-point {
  padding: 30px;
  border-radius: 50%;
  background-color: var(--light-grey);
  display: inline-block;
  width: 30px;
  height: 30px;
}

.timeline-point::after {
  display: block;
  background-color: var(--primary);
  border-radius: 50%;
  width: 7px;
  height: 7px;
  content: "";
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.timeline-spacer {
  background-color: #e6e9f2;
  height: 2px;
  display: inline-block;
  width: 20%;
  margin: 30px 10px 0;
}

.timeline-heading {
  position: absolute;
  flex-wrap: nowrap;
  margin: 5px auto 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.hubspot-wrapper {
  display: grid;
  grid-template-columns: 4fr 6fr;
  align-items: center;
  height: 50vh;
  position: relative;
}

.hubspot-gallery {
  position: relative;
  height: 50vh;
}

.hubspot-gallery .dots-img-wrapper {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 50px;
}

.hubspot-gallery .person-img-wrapper {
  width: 80%;
  position: absolute;
  left: 65px;
  top: 0;
}

.block-text-right {
  margin-left: 100px;
  color: var(--dark);
}

.block-text-right .hubspot-logo-wrapper {
  width: 150px;
}

.block-text-right p {
  font-size: 2.2rem;
  margin: 43px 0;
}

.block-text-right h5 {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 0 5px;
}

.block-text-right span {
  color: var(--font-base-one);
  font-weight: bold;
  font-size: 1rem;
}

.companies-trusted-wrapper {
  margin-top: 300px;
  text-align: center;
  margin-bottom: 200px;
}

.companies-trusted-wrapper h3 {
  font-size: 2rem;
}

.companies-trusted {
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
  width: 100%;
}

.trusted-img-wrapper {
  width: 11%;
}

.pricing-grid {
  margin: auto;
  display: grid;
  gap: 60px;
  grid-template-columns: 4fr 3fr 3fr;
  grid-template-areas:
    "header header header"
    "main one two"
    "main three four";
}

.pricing-card {
  grid-area: main;
}
.pricing-grid .header {
  grid-area: header;
}
.pricing-grid .one {
  grid-area: one;
}
.pricing-grid .two {
  grid-area: two;
}
.pricing-grid .three {
  grid-area: three;
}
.pricing-grid .four {
  grid-area: four;
}

.pricing-card {
  background: var(--light);
  box-shadow: 0 0 20px rgba(105, 105, 105, 0.3);
  padding: 50px;
}

.pricing-card .top {
  display: flex;
  align-items: center;
}

.pricing-card .top .price {
  color: var(--dark);
  font-weight: normal;
  font-size: 3rem;
  margin: 0 10px 0 0;
}

.pricing-card .top span {
  color: var(--font-base-one);
  font-size: 1.4rem;
}

.pricing-separator {
  background: var(--font-base-one);
  margin: 30px auto;
}

.pricing-card .bottom {
  font-size: 1.2rem;
}

.pricing-card .bottom p {
  margin-top: 20px;
  margin-bottom: 60px;
}

.pricing-card-perk {
  margin-top: 20px;
  font-size: 0.925rem;
}

.pricing-block-img-wrapper {
  width: 60px;
}

.pricing-title {
  align-items: center;
  color: var(--dark);
  display: flex;
  font-size: 1.3rem;
}

.pricing-title h5 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pricing-title .tag {
  margin-left: 10px;
}

.pricing-block p {
  color: var(--font-base-one);
  margin: 0;
}

.hire-us {
  background: blue;
  /* background-image: url("/assets/abstract/hire-us-transparent-pattern-bg.svg"); */
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  /* padding: 50px 200px; */
}

.hire-us .block-text-left {
  padding-right: 170px;
}

.hire-us > * {
  width: 50%;
}

.hire-us h3 {
  color: var(--light);
  font-size: 2rem;
  margin-bottom: 20px;
}

.hire-us .text {
  line-height: 1.4;
  display: block;
  color: var(--font-base);
}

.hire-us div {
  margin-bottom: 30px;
}

.hire-us hr {
  margin-left: 0;
  width: 50%;
}

.hire-us .quote {
  color: var(--light);
  font-style: italic;
  margin-top: 30px;
}

.hire-us .name {
  color: var(--light);
  font-weight: bold;
  font-size: 1.1rem;
  margin: 35px auto 0;
}

.hire-us .position {
  display: inline-block;
  font-size: 14px;
}

.people {
  display: flex;
  align-items: center;
  margin: 35px auto 40px;
}

.person-small {
  width: 40px;
  height: 40px;
}

.person-big {
  width: 50px;
  height: 50px;
}

.people img {
  border-radius: 50%;
  margin-right: 20px;
}

.hire-us-form {
  background: var(--light);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding: 30px;
  position: relative;
}

.hire-us-grid {
  position: relative;
  display: grid;
  gap: 10px;
  grid-auto-columns: minmax(0, 1fr);
  grid-template-areas:
  "one two"
  "three four"
  "budget country"
  "comments comments"
  ;
}

.hire-us-grid .input-one { grid-area: one; }
.hire-us-grid .input-two { grid-area: two; }
.hire-us-grid .input-three { grid-area: three; }
.hire-us-grid .input-four { grid-area: four; }
.hire-us-grid .budget { grid-area: budget; }
.hire-us-grid .country { grid-area: country; }
.hire-us-grid .comments { grid-area: comments; }

.hire-us-form h5 {
  color: var(--dark);
  font-size: 18px;
  margin: 0 auto 20px;
}

.hire-us-form .input {
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  font-size: 16px;
  padding: 8px;
}

.hire-us-form .input-light { color: var(--light-grey); }
.hire-us-form .input-dark { color: var(--dark); }

.hire-us-form .comments {
  height: 150px;
  resize: none;
}

.form-links {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.form-links .link {
  margin: 5px;
}

input.hire-us-checkbox {
  margin-right: 20px;
  width: 20px;
}

.hire-us-form  button {
  margin: 0 auto 5px;
}