.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 50px;
  position: fixed;
  z-index: 10;
}

.navbar-links { display: flex; }

.navbar-links ul {
  display: flex;
  align-items: center;
}

.navbar-logo-wrapper { width: 200px; }

.navbar-links .link {
  color: var(--font-base-one);
  font-weight: 500;
  font-size: 18px;
  margin-inline: 20px;
  transition: 0.7s ease;
}

.navbar-links .link:hover {
  color: var(--primary);
}

.navbar-links button { margin-left: 20px; }

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin-block: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--font-base-one);
}

.hero-gradient {
  background: url("/assets/banners/hero-gradient.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.hero-wrapper {
  align-items: center;
  display: flex;
  height: 90vh;
  padding: 200px 50px 45px;
}

.hero-wrapper div { flex: 1; }

.hero-text {
  position: relative;
  bottom: 80px;
}

.hero-text h1 {
  color: var(--dark);
  font-size: 3rem;
  line-height: 1.4;
  margin: 0;
  font-weight: 600;
}

.hero-text .ingredient-text {
  color: var(--font-base-one);
  display: block;
  font-size: 18px;
  margin: 10px 0 30px;
}

.hero-logos {
  position: relative;
  height: 100%;
  margin-top: 10%;
}

.hero-logos .logo {
  background-color: var(--light);
  box-sizing: content-box;
  border-radius: 5rem;
  box-shadow: 0px 0px 20px rgba(105, 105, 105, 0.6);
  position: absolute;
  animation: hero-logo cubic-bezier(.38,-0.22,.37,1.6) .5s;
}

.hero-logos .logo-big {
  width: 50px;
  height: 50px;
  padding: 25px;
}

.hero-logos .logo-small {
  width: 45px;
  height: 45px;
  padding: 15px;
}

.logo.google {
  right: 470px;
  top: 0px;
}

.logo.paypal {
  top: 195px;
  right: 475px;
}

.logo.weave {
  top: 195px;
  right: 160px;
}

.logo.asana {
  top: 0px;
  right: 0px;
}

.logo.atlassian {
  top: 0px;
  right: 280px;
}

.logo.calendar {
  top: 340px;
  right: 20px;
}

.logo.google-a {
  top: 320px;
  right: 315px;
}

#benefits.container {
  padding-top: 50px;
}

.benefits-wrapper {
  display: grid;
  gap: 45px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-areas:
    "head head head head"
    "one two three four";
  margin: 0px auto 200px;
}

.benefits-wrapper .center-header { grid-area: head; }
.benefits-wrapper .one { grid-area: one; }
.benefits-wrapper .two { grid-area: two; }
.benefits-wrapper .three { grid-area: three; }
.benefits-wrapper .four { grid-area: four; }

.card {
  box-shadow: 0px 10px 10px rgba(105, 105, 105, 0.3);
  padding: 30px;
  position: relative;
  transition: .3s ease-in-out;
}

.card:hover {
  box-shadow: 0px 10px 10px #97b5da;
  bottom: 10px;
}

.card .details {
  line-height: 1.7;
}

.card-heading-wrapper {
  display: flex;
  align-items: center;
  height: 50px;
}

.card-heading-wrapper h5 {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--dark);
  margin: 0;
}

.benefits-wrapper .card-img-wrapper { width: 30%; }

.prospective-wrapper {
  background: #F8F9FF;
  display: flex;
  justify-content: center;
  margin-inline: 50px;
}

.prospective-wrapper .block-text-left {
  inline-size: 500px;
  position: relative;
  top: 50px;
  margin-right: 20px;
}

.prospective-img {
  box-shadow: -15px -15px 50px rgb(224,231,239);
}

.prospective-wrapper h3 {
  font-size: 2rem;
  color: var(--dark);
}

.why-wrapper { margin-top: 200px; }

.timeline-wrapper {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.timeline-element {
  position: relative;
  text-align: center;
}

.timeline-point {
  padding: 30px;
  border-radius: 50%;
  background-color: var(--light-grey);
  display: inline-block;
  width: 30px;
  height: 30px;
}

.timeline-point::after {
  display: block;
  background-color: var(--primary);
  border-radius: 50%;
  width: 7px;
  height: 7px;
  content: "";
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.timeline-spacer {
  background-color: #e6e9f2;
  height: 2px;
  display: inline-block;
  width: 20%;
  margin: 30px 10px 0;
}

.timeline-heading {
  position: absolute;
  flex-wrap: nowrap;
  margin: 5px auto 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.hubspot-wrapper {
  display: grid;
  grid-template-columns: 4fr 6fr;
  align-items: center;
  height: 50vh;
  position: relative;
}

.hubspot-gallery {
  position: relative;
  height: 50vh;
}

.hubspot-gallery .dots-img-wrapper {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 50px;
}

.hubspot-gallery .person-img-wrapper {
  width: 90%;
  position: absolute;
  left:70px;
  top: -60px;
}

.block-text-right {
  color: var(--dark);
  margin-left: 100px;
  line-height: 1.4;
}

.block-text-right .hubspot-logo-wrapper { width: 150px; }

.block-text-right p {
  font-size: 2.2rem;
  margin: 43px 0;
}

.block-text-right h5 {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 0 5px;
}

.block-text-right span {
  color: var(--font-base-one);
  font-weight: bold;
  font-size: 1rem;
}

.companies-trusted-wrapper.container { padding-bottom: 0px; }

.companies-trusted-wrapper {
  margin-top: 250px;
  text-align: center;
}

.companies-trusted-wrapper h3 { font-size: 1.8rem; }

.companies-trusted {
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
  width: 100%;
}

.trusted-img-wrapper { width: 11%; }

.pricing-grid {
  margin: auto;
  display: grid;
  gap: 40px;
  grid-template-columns: 4fr 3fr 3fr;
  grid-template-areas:
    "header header header"
    "main one two"
    "main three four";
  margin-inline: 20px;
  margin-bottom: 75px;
}

.pricing-card { grid-area: main; }
.pricing-grid .center-header {
  grid-area: header;
  padding-bottom: 50px;
}
.pricing-grid .one { grid-area: one; }
.pricing-grid .two { grid-area: two; }
.pricing-grid .three { grid-area: three; }
.pricing-grid .four { grid-area: four; }

.pricing-card {
  background: var(--light);
  box-shadow: 0 0 20px rgba(105, 105, 105, 0.3);
  padding: 50px;
  line-height: 1.5;
  position: relative;
}

.pricing-card:hover {
  box-shadow: 0px 10px 10px #97b5da;
  bottom: 10px;
}

.pricing-card .top {
  display: flex;
  align-items: flex-end;
}

.pricing-card .top .price {
  color: var(--dark);
  font-weight: normal;
  font-size: 3rem;
  margin: 0 10px 0 0;
  position: relative;
  top: 10px;
}

.pricing-card-time-subscription {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  bottom: 2px;
}

.pricing-card .top span {
  color: var(--font-base-one);
  font-size: 1.4rem;
}

.pricing-separator {
  background: var(--font-base-one);
  margin: 30px auto;
}

.pricing-card .bottom {
  font-size: 1.2rem;
}

.pricing-card .bottom p {
  margin-top: 20px;
  margin-bottom: 45px;
}

.pricing-card-perk {
  margin-top: 20px;
  font-size: 0.925rem;
}

.pricing-block-img-wrapper { width: 60px; }

.pricing-title {
  align-items: center;
  color: var(--dark);
  display: flex;
}

.pricing-title h5 {
  font-size: 1.3rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pricing-title .tag { margin-left: 10px; }

.pricing-block p {
  color: var(--font-base-one);
  margin: 0;
  line-height: 1.5;
  inline-size: 240px;
}

.hire-us-wrapper {
  background: #20335B;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 1.3rem;
  width: 100%;
  padding: 50px 20px 50px 100px;
}

.hire-us-wrapper .block-text-left {
  padding-right: 170px;
}

.hire-us-wrapper > * {
  width: 50%;
}

.hire-us-wrapper h3 {
  color: var(--light);
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hire-us-ingredients {
  margin-bottom: 30px;
}

.hire-us-wrapper .text {
  line-height: 1.4;
  display: block;
  color: var(--font-base);
}

.hire-us-wrapper hr {
  margin-left: 0;
  width: 50%;
}

.hire-us-wrapper .quote {
  color: var(--light);
  font-style: italic;
  margin-top: 30px;
}

.hire-us-wrapper .name {
  color: var(--light);
  font-weight: bold;
  margin: 35px auto 0;
}

.hire-us-wrapper .position {
  display: inline-block;
  font-size: 14px;
}

.people {
  display: flex;
  align-items: center;
  margin-block: 40px;
}

.person.active {
  box-shadow: 0px 0px 5px var(--light);
}

.person-small {
  width: 50px;
  height: 50px;
}

.person-big {
  width: 70px;
  height: 70px;
}

.people img {
  border-radius: 50%;
  margin-right: 30px;
}

.hire-us-form {
  background: var(--light);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding: 20px 30px;
  position: relative;
}

.hire-us-grid {
  position: relative;
  display: grid;
  gap: 25px;
  grid-auto-columns: minmax(0, 1fr);
  grid-template-areas:
  "one two"
  "three four"
  "budget country"
  "comments comments"
  ;
}

.hire-us-grid .input-one { grid-area: one; }
.hire-us-grid .input-two { grid-area: two; }
.hire-us-grid .input-three { grid-area: three; }
.hire-us-grid .input-four { grid-area: four; }
.hire-us-grid .budget { grid-area: budget; }
.hire-us-grid .country { grid-area: country; }
.hire-us-grid .comments { grid-area: comments; }

.hire-us-form h5 {
  color: var(--dark);
  font-size: 22px;
}

.hire-us-form-input {
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  font-size: 22px;
  padding: 15px 10px;
}

.hire-us-form-input:hover {
  border: 1px solid #97b5da;
}

.hire-us-form-input:focus { border: 1px solid var(--light-grey); }
.hire-us-form .input-light { color: var(--light-grey); }
.hire-us-form .input-dark { color: var(--dark); }

.hire-us-form .comments {
  height: 150px;
  resize: none;
  font-family: sans-serif;
  margin-bottom: 22px;
}

.hire-us-form div { position: relative; }
.form-links { margin-block: 20px; }
.form-links .hire-us-form-link { margin-right: 35px; }
.hire-us-form-link.grey { border-bottom: 5px dotted var(--font-base-two); }
.hire-us-form-link.primary { border-bottom: 5px dotted var(--primary); }

input.hire-us-checkbox {
  border-color: var(--light-grey);
  position: absolute;
  margin-right: 20px;
  width: 30px;
  height: 30px;
}

.hire-us-checkbox-labels {
  font-size: 22px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.hire-us-form button { margin: 0 auto 5px; }

.footer-wrapper.container {
  padding-bottom: 40px;
}

.footer-top-container {
  display: flex;
}

.footer-logo-wrapper { width: 50%; }

.footer-col {
  margin-right: 70px;
}

.footer-col h5 {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
  color: var(--dark);
}

.footer-named-tag {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-named-tag .tag {
  border-radius: 4px;
  margin-left: 10px;
  inline-size: 110px;
}

.footer-cta-item {
  margin-block: 15px;
}
.footer-ingredient-blue { color: var(--primary); }

.footer-separator {
  border: none;
  border-top: 2px solid var(--light-grey);
  margin-block: 50px;
}

.footer-breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
}

.legal-agreements a {
  font-weight: normal;
  margin-inline: 2px;
}

.footer-socials {
  display: flex;
}

.breadcrumbs-right {
  display: flex;
  align-items: center;
}

.social-icon {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 9px 10px;
  margin-right: 20px;
}

.social-icon i {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  width: 15px;
}

.social-icon-light {
  background-color: var(--light-grey);
  color: var(--font-base-one);
}

.social-icon-dark {
  background-color: var(--font-base-one);
  color: var(--light-grey);
}

.breadcrumbs-img-input {
  border-radius: 4px;
  background-color: var(--light-grey);
  cursor: pointer;
  display: flex;
  width: 200px;
  padding: 9px 10px;
}

.breadcrumbs-img-input select:focus { outline: none; }

.breadcrumbs-img-input img {
  width: 20px;
  margin-right: 10px;
}

.breadcrumbs-img-input select {
  border: none;
  background: transparent;
  font-size: 18px;
  position: relative;
  width: 150px;
}

.footer-base-bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  user-select: none;
}

.footer-base-bottom p {
  inline-size: 68%;
  margin-block: 15px;
  font-size: 1.2rem;
  line-height: 1.5;
}

@keyframes hero-logo {
  0% { 
  opacity: 0;
  -webkit-transform: scale(0.5);
  top: calc(inherit - 50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    top: calc(inherit - 0px)
  }
}