.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 15px 100px;
  z-index: 10;
}

.navbar-right {
  align-items: center;
  display: flex;
}

.nav .logo {
  width: 200px;
}

.nav .link {
  margin-right: 20px;
  font-weight: 500;
  color: var(--font-base-one);
  font-size: 17px;
}

.hero {
  padding-top: 70px;
  height: 80vh;
}

.hero-wrapper {
  align-items: center;
  display: flex;
  position: relative;
  height: 70vh;
}

.hero-wrapper div {
  flex: 1;
}

.hero .block-text h1 {
  color: var(--dark);
  font-size: 3rem;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 600;
}

.hero .block-text p {
  color: var(--font-base-one);
}

.hero .block-text .btn-light {
  font-weight: bold;
}

.hero-logos {
  position: relative;
  height: 100%;
}

.hero .logo {
  background-color: white;
  box-sizing: content-box;
  border-radius: 5rem;
  box-shadow: 0px 0px 20px rgba(105,105,105,0.6);
  position: absolute;
}

.hero .logo.big {
  width: 80px;
  height: 80px;
  padding: 25px;
}

.hero .logo.small {
  width: 60px;
  height: 60px;
  padding: 10px;
}

.hero .logo.google {
  right: 570px;
  top: 20px;
}

.hero .logo.paypal {
  top: 250px;
  right: 570px;
}

.hero .logo.weave {
  top: 250px;
  right: 200px;
}

.hero .logo.asana {
  top: 20px;
  right: 0px;
}

.hero .logo.atlassian {
  top: 20px;
  right: 350px;
}

.hero .logo.calender {
  bottom: 0px;
  right: 20px;
}

.hero .logo.google-a {
  bottom: 100px;
  right: 420px;
}