body {
  margin: 0;
}

/*global styles  */
.details {
  color:#999;
}

.heading {
  color: #6b6b6b;
  font-size: 1.4rem;
}

.wrapper {
  display: flex;
  align-items: center;
}

/* navbar section  */
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  padding: 20px 0;
}

.brand .logo {
  width: 75px;
  height: 75px;
  margin-left: 60px;
}

.brand .name {
  font-size: 2.3rem;
  margin: 0 0 0 20px;
}


.navbar .right {
  display: flex;
  margin-right: 60px;
}

.right .link {
  color: black;
  margin: 0 20px;
  font-size: 1.3rem;
  text-decoration: none;
}

/* about us   */
.about header .heading {
  color: black;
  font-size: 4.5rem;
}

.about header .details {
  color: black;
  width: 60%;
  margin: 10px auto 120px;;
}

.about {
  text-align: center;
  display: grid;
  gap: 0 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "head head head"
  "one two three"
  ;
  justify-content: center;
  margin: 0 20%;
}

/* grid areas  */
.about .heading { grid-area: head }
.about .one { grid-area: one }
.about .two { grid-area: two }
.about .three { grid-area: three }

.card {
  font-size: 1.2rem;
  text-align: left;
}

.bedroom {
  width: 100%;
  height: 300px;
}

.card .heading {
  color: #6b6b6b;
  font-size: 1.5rem;
}

/* team section  */
.team .top-heading {
  align-items: center;
  color: #6b6b6b;
  display: grid;
  font-size: 4rem;
  gap: 10px;
  grid-template-columns: 3fr 300px 3fr;
  word-wrap: none;
}


.team .top-heading:before {
  justify-self: flex-end;
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background-color: black;
}

.team .top-heading:after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background-color: black;
}

.team .details {
  width: 40%;
  text-align: center;
  margin: 10px auto;
}

.employees {
  display: flex;
  justify-content: center;
}

.employee {
  margin: 30px 40px;
  text-align: left;
}

.profile-img {
  width: 250px;
  height: 250px;
}

.socials {
  display: flex;
}

.socials .icon {
  width: 25px;
  margin: 0 3px;
}

/* footer section  */
.footer .wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}

.wrapper .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.wrapper .icon:hover {
  border-radius: 50px;
  box-shadow: 0 3px 3px white;
}

.wrapper .tooltip {
  background-color: #999;
  border-radius: 25px;
  box-shadow: 0 10px 6px rgba(0, 0, 0, .1);
  color: white;
  font-size: 20px;
  padding: 10px 18px;
  position: absolute;
  bottom: 0;
  z-index: 3;
  pointer-events: none;
  opacity: 0;
}

.wrapper .tooltip:before {
  content: "";
  background-color: #999;
  position: absolute;
  bottom: -7px;
  left: 50%;
  height: 15px;
  width: 15px;
  z-index: 2;
  transform: translateX(-50%) rotate(45deg);
}

.wrapper .icon:hover .tooltip {
  bottom: 80px;
  opacity: 1;
  pointer-events: auto;
  text-shadow: 0 1px 3px black;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .logo {
  display: block;
  width: 60px;
  height: 60px;
}

.footer {
  color: #777;
  background-color: #282828;
  padding: 70px 0 30px;
  position: relative;
  margin-top: 50px;
}

.cta-section .group {
  width: 250px;
}

.cta-section .heading {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.cta-section {
  display: flex;
  margin: 100px 0 50px;
  justify-content: space-around;
  text-align: center;
}

.cta {
  margin: 5px 0;
}

.cta .link {
  text-decoration: none;
  color: #777;
}

.cta .link:hover {
  text-decoration: underline;
}

.footer .separator {
  height: 5px;
  border: solid 1px #6b6b6b;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

.copyrights {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyrights p {
  margin: 5px 0;
}