body {
  margin: 0;
}

/* fonts  */
body { font-family: 'Solway', serif; }
.navbar .name,
.navbar .link {
  font-family: 'IBM Plex Sans', sans-serif;
}

.about .title,
.team .title{
  font-family: 'Cinzel', serif;
}

/*global styles  */
.details {
  color:#999;
  font-size: 1.4rem;
}

.heading {
  color: #6b6b6b;
  font-size: 1.4rem;
}

.wrapper {
  display: flex;
  align-items: center;
}

/* navbar section  */
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  padding: 20px 0;
}

.brand {
  user-select: none;
}

.brand .logo {
  width: 75px;
  height: 75px;
  margin-left: 60px;
}

.brand .name {
  font-size: 2.3rem;
  margin: 0 0 0 20px;
}


.navbar .right {
  display: flex;
  margin-right: 60px;
}

.navbar .link {
  color: black;
  margin: 0 20px;
  font-size: 1.3rem;
  text-decoration: none;
}


/* about us   */
.about .header .title {
  color: black;
  font-size: 4.5rem;
}

.about .header .details {
  color: black;
  width: 60%;
  margin: 10px auto 120px;;
}

.about {
  text-align: center;
  display: grid;
  gap: 0 50px;
  grid-template-columns: repeat(auto-fit minmax(300px, 1fr));
  grid-template-areas: 
  "about about about"
  "one two three"
  ;
  justify-content: center;
  margin: 0 20%;
}

/* grid areas  */
.about .header { grid-area: about }
.about .one { grid-area: one }
.about .two { grid-area: two }
.about .three { grid-area: three }

.card {
  font-size: 1.2rem;
  text-align: left;
}

.card .bedroom {
  border: solid 5px black;
  border-radius: 5px;
  width: 100%;
  height: 300px;
}

.card .heading {
  color: #6b6b6b;
  font-size: 1.5rem;
}

/* team section  */
.team {
  display: grid;
  gap: 0 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  "team team team team"
  "kanye melissa kevin ario"
  ;
  margin: 0 20% 100px;
}

/* team grid areas  */
.team .header { grid-area: team }
.team .kanye { grid-area: kanye }
.team .melissa { grid-area: melissa }
.team .kevin { grid-area: kevin }
.team .ario { grid-area: ario }

.team .header .title {
  align-items: center;
  display: grid;
  grid-template-columns: 3fr 340px 3fr;
  font-size: 4rem;
}

.team .header .title:before {
  content: "";
  display: block;
  justify-self: flex-end;
  height: 3px;
  width: 50px;
  background-color: black;
}

.team .header .title:after {
  content: "";
  display: block;
  justify-self: flex-start;
  height: 3px;
  width: 50px;
  background-color: black;
}

.team .details {
  width: 70%;
  text-align: center;
  margin: 10px auto 30px;
}

.employee {
  text-align: left;
}

.employee .profile-img {
  width: 100%;
  height: 65%;
}

.employee .socials {
  display: flex;
}

.employee .socials .icon {
  width: 25px;
  margin: 0 3px;
}

/* footer section  */
.footer .wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}

.wrapper .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.wrapper .icon:hover {
  border-radius: 50px;
  box-shadow: 0 3px 3px white;
}

.wrapper .tooltip {
  background-color: #999;
  border-radius: 25px;
  box-shadow: 0 10px 6px rgba(0, 0, 0, .1);
  color: white;
  font-size: 20px;
  padding: 10px 18px;
  position: absolute;
  bottom: 0;
  z-index: 3;
  pointer-events: none;
  opacity: 0;
}

.wrapper .tooltip:before {
  content: "";
  background-color: #999;
  position: absolute;
  bottom: -7px;
  left: 50%;
  height: 15px;
  width: 15px;
  z-index: 2;
  transform: translateX(-50%) rotate(45deg);
}

.wrapper .icon:hover .tooltip {
  bottom: 80px;
  opacity: 1;
  pointer-events: auto;
  text-shadow: 0 1px 3px black;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .logo {
  display: block;
  width: 60px;
  height: 60px;
}

.footer {
  color: #777;
  background-color: #282828;
  padding: 70px 0 30px;
  position: relative;
  margin-top: 50px;
}

.footer .cta-section .group {
  width: 250px;
}

.footer .cta-section .heading {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.footer .cta-section {
  display: flex;
  margin: 100px 0 50px;
  justify-content: space-around;
  text-align: center;
}

.footer .cta {
  margin: 5px 0;
}

.footer .cta .link {
  text-decoration: none;
  color: #777;
}

.footer .cta .link:hover {
  text-decoration: underline;
}

.footer .separator {
  height: 5px;
  border: solid 1px #6b6b6b;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

.footer .copyrights {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .copyrights p {
  margin: 5px 0;
}


@media (max-width: 650px) {
  .about {
    margin: 15%;
  }
}

@media (max-width: 800px) {
  .navbar .right {
    display: none;
  }
  .about .header .title {
    font-size: 3rem !important;
  }
  .about .header .details {
    font-size: 1.4rem;
  }
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team .header .title {
    font-size: 3rem !important;
    grid-template-columns: 3fr 260px 3fr;
  }
  .team .header .details {
    margin: 10px;
    width: auto;
  }
  .employee {
    display: flex;
    margin: 30px auto;
    justify-content: center;
  }
  .employee .content {
    margin-left: 40px;
  }
  
  .employee .profile-img {
    width: 40%;
  }
  .employee .heading {
    margin: 0;
  }
  .employee .heading:last-of-type {
    margin-bottom: 20px;
  }
  .employee:nth-child(even) .content {
    order: -1;
    margin: 0 40px 0 0;
    text-align: right;
  }
  .employee:nth-child(even) .socials {
    display: flex;
    justify-content: flex-end;
  }
  .footer .logo {
    width: 50px;
    height: 50px;
  }
  .footer .cta-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .group {
    margin-bottom: 50px;
  }
}
@media (max-width: 1000px) {
  .about {
    display: flex;
    flex-direction: column;
  }
  .about .header .title {
    margin-bottom: 20px;
  }
  
  .about .header .details {
    margin: 0 auto 40px;
    width: 100%;
  }
  
  .about .card {
    width: 100%;
  }
}
@media (min-width: 750px) and (max-width: 1300px) {
  .about .header .details {
    margin-bottom: 60px;
  }
  .team {
    gap: 20px;
    grid-template-columns: repeat(4, 120px);
    grid-template-areas: 
    "team team team team"
    "kanye kanye melissa melissa"
    "kevin kevin ario ario"
    ;
    justify-content: center;
    margin: 0 20% 100px;
  }
  .team .header .details {
    width: 100%;
  }
}
@media (min-width: 1001px) and (max-width: 1400px) {
  .about {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
  }
  .about .card {
    display: flex;
    margin: 60px 0;
  }
  .about .bedroom {
    width: 400px;
    margin-right: 40px;
  }
  .about .heading {
    margin: 0;
  }
  .about .card:nth-child(odd) .content {
    order: -1;
    margin-right: 40px;
    text-align: right;
  }
}