body {
  margin: 0;
}
/* fonts for all pages */
.main-heading, .content-heading, .blog-heading {
  font-family: 'Stick No Bills', sans-serif;
}

.content-paragraph, .footer-item {
  font-family: 'Dosis', sans-serif;
}

/* top section for all pages */
.top-container {
  margin: 40px auto 0;
  text-align: center;
  color: rgb(61, 60, 60);
}
.profile-img {
  border-radius: 100px;
  display: inline-block;
  position: relative;
  top: 20px;
  right: 150px;
  width: 100px;
}

.main-heading {
  display: inline-block;
  font-size: 4rem;
  position: relative;
  right: 100px;
  margin: 0 20px 10px;
}

.header-socials {
  display: inline-block;
  margin-left: 200px;
}

.icon {
  font-size: 3rem;
  margin: 0 10px;
}

.bar {
  border: solid 3px #B2B2B2;
  border-bottom: none;
  border-right: none;
  border-left: none;
  width: 70%;
}

/* footer for all pages */
.footer {
  background-color: rgb(61, 60, 60);
  color: rgb(209, 208, 208);
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin: 70px 0 0 0;
}
/* blogs - main content  */
.blogs, .blog {
  border: solid 1px #cecccc;
  border-radius: 5px;
  width: 60%;
  padding: 20px 30px; 
  margin: 50px auto;
}

.blogs-img {
  border-radius: 5px;
  width: 200px;
  height: 100px;
}

.content {
  margin-left: 30px;
}

/* blog content styles */
.blog-heading {
  font-size: 4rem;
  margin-left: 11%;
}

.blog-text {
  text-indent: 1rem;
  font-size: 1.5rem;
  padding: 0  50px 30px;
  line-height: 2;
}

.blog-img {
  border: solid 1px #cecccc;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}