img {
  width: 50%;
}
hr {
  border: solid 3px #B2B2B2;
  border-bottom: none;
  border-right: none;
  border-left: none;
  width: 70%;
}
/* top section  */
.top-container {
  margin: 40px auto 0;
  text-align: center;
}
.profile-img {
  border-radius: 100px;
  display: inline-block;
  position: relative;
  top: 20px;
  right: 150px;
  width: 100px;
}

.main-heading {
  display: inline-block;
  font-size: 4rem;
  position: relative;
  right: 100px;
  margin: 0 20px 10px;
}

.header-socials {
  display: inline-block;
  margin-left: 200px;
}

.icon {
  font-size: 3rem;
  margin: 0 10px;
}