table, tr, td {
  border: 1px solid black;
  margin: 0;
 }
 tr {
  border: 0;
 }
 td {
  padding: 0 10px;
 }
img {
  width: 256px;
}
/* main classes for content  */
.left {
  text-align: left;
  background-color: #FF8787;
  border: solid 2px #3C4048;
  border-top: none;
  border-left: none;
  padding: 50px 0 0 50px;
}

.right {
  text-align: right;
  background-color: #B3FFAE;
  border: solid 2px #3C4048;
  border-top: none;
  border-right: none;
  padding: 50px 50px 0 50px;
}

.table-img {
  width: 300px;
  height: 200px;
}
/* main heading */
.top-heading {
  text-align: center;
  padding: 100px 0 80px;
  font-size: 3.5rem;
}
/* the favorites and not so favorites table  */
.favs-table {
  margin: auto;
  background-color: #3C4048;
  border: solid 5px #3C4048;
  border-radius: 10px;
}
.thead1 {
  border-top-left-radius: 5px;
}
.thead2 {
  border-top-right-radius: 5px;
}

.top-heading, .table-heading {
  font-family: 'Philosopher', sans-serif;
}